<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Transfer summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="summary-section">
    <div class="section-header">
      <h2>Transfer</h2>
      <ion-icon name="pencil-outline"></ion-icon>
    </div>
    
    <div class="detail-item">
      <span class="label">You send</span>
      <span class="value">{{transferDetails.sendAmount}}</span>
    </div>

    <div class="detail-item">
      <span class="label">Exchange rate</span>
      <span class="value">{{transferDetails.exchangeRate}}</span>
    </div>

    <div class="detail-item">
      <span class="label">Recipient gets</span>
      <span class="value">{{transferDetails.recipientGets}}</span>
    </div>

    <div class="detail-item">
      <span class="label">Send fee(s)</span>
      <span class="value">{{transferDetails.sendFee}}</span>
    </div>

    <div class="detail-item total">
      <span class="label">Total cost</span>
      <span class="value">{{transferDetails.totalCost}}</span>
    </div>
  </div>

  <div class="summary-section">
    <div class="section-header">
      <h2>Payment</h2>
      <ion-icon name="pencil-outline"></ion-icon>
    </div>
    <div class="detail-item">
      <span class="value">Bank Transfer</span>
    </div>
  </div>

  <div class="summary-section">
    <div class="section-header">
      <h2>Delivery</h2>
    </div>
    <div class="detail-item">
      <span class="label">Bank</span>
      <span class="value">{{transferDetails.bankName}} {{transferDetails.accountNumber}}</span>
    </div>
  </div>

  <ion-button expand="block" (click)="onConfirm()">
    Confirm and send money
  </ion-button>
</ion-content>
